.contenedor {
    min-height: 90vh;
    background: url("../../../assets/fondo (2).jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        width: 50%;
        margin: 2% 0% 2% 0%;
        flex: none;
        text-align: center;
        .drops {
            display: flex;
            justify-content: center;
            padding-top: 2%;
        }
        .datos {
            display: flex;
            justify-content: center;
            margin-top: 2%;
        }
        .fechas {
            display: flex;
            justify-content: center;
            margin: 2% 0% 5% 0%;
        }
    }
    .grid {
        width: 90%;
        margin: 2% 0% 2% 0%;
        .botones {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1%;
        }
    }
}

.spacingComponents {
    margin-right: 2%;
}

.loader-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
    overflow: hidden;
  }