.contenedor{
    position: sticky;
    top: 0px;
    z-index: 99;
    background: url("../../../assets/rojo (4).jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 2px solid rgb(138, 132, 132);
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: whitesmoke;
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
}