<div class="contenedor">
    <div class="notificacion card card-body">
        Si estás buscando las conciliaciones, el mismo se mudó a un nuevo link. Te dejamos un botón acá abajo para que puedas acceder
        directamente, pero recuerda actualizar tus links si los tenías guardados de antemano!
    </div>
        <a href="http://192.168.0.9:4013/#/conciliaciones/dashboard">
            <div class="boton card card-body">Ir a conciliaciones</div>
        </a>
    <div class="imagen"></div>
</div>
