<div>
    <div class="drops">
        <p-dropdown [options]="tienda" [(ngModel)]="tiendaSelec" optionLabel="tienda" placeholder="Elige una tienda" class="spacingComponents"></p-dropdown>
        <p-dropdown [options]="modulo" [(ngModel)]="moduloSelec" optionLabel="modulo" placeholder="Elige un módulo"></p-dropdown>
    </div>
    <div class="fechas">
        <p-calendar [(ngModel)]="desde" [showIcon]="true" dateFormat="dd/mm/yy" class="spacingComponents"></p-calendar>
        <p-calendar [(ngModel)]="hasta" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="grid">
        <div class="botones">
            <div>
                <p-button label="Buscar" icon="pi pi-search" styleClass="p-button-raised p-button-text p-button-help" (onClick)="onSubmit()"></p-button>
                <p-button label="Ver cambios realizados" icon="pi pi-cloud-upload" styleClass="p-button-raised p-button-text p-button-secondary" (onClick)="irCambios()"></p-button>
            </div>
            <div>
                <p-button label="Ver cambios realizados" icon="pi pi-replay" styleClass="p-button-raised p-button-text p-button-success" (onClick)="irCambios()"></p-button>
            </div>
        </div>
        <ag-grid-angular
        class="ag-theme-alpine mt-3"
        id="myGrid"
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [domLayout]="domLayout"
        [gridOptions]="gridOptions"
        [pagination]=true
        [paginationPageSize]="25"
        ></ag-grid-angular>
    </div>
</div>