<div>
    <div class="drops">
        <p-dropdown 
        [options]="tienda" 
        [(ngModel)]="tiendaSelec" 
        optionLabel="tienda" 
        pTooltip="Elige entre las distintas tiendas"
        tooltipPosition="bottom" 
        placeholder="Elige una tienda" 
        class="spacingComponents"></p-dropdown>
        <p-dropdown 
        [options]="modulo" 
        [(ngModel)]="moduloSelec" 
        optionLabel="modulo"
        pTooltip="Elige entre los diferentes módulos"
        tooltipPosition="bottom"  
        placeholder="Elige un módulo"></p-dropdown>
    </div>
    <div class="fechas">
        <p-calendar 
        [(ngModel)]="desde" 
        [showIcon]="true" 
        dateFormat="dd/mm/yy"
        pTooltip="Fecha inicial de búsqueda"
        tooltipPosition="bottom" 
        class="spacingComponents"></p-calendar>
        <p-calendar 
        [(ngModel)]="hasta" 
        [showIcon]="true" 
        dateFormat="dd/mm/yy"
        pTooltip="Fecha final de búsqueda" 
        tooltipPosition="bottom" ></p-calendar>
    </div>
    <div class="grid">
        <p-toast></p-toast>
        <div class="botones">
            <div>
                <p-button 
                label="Buscar" 
                icon="pi pi-search" 
                styleClass="p-button-raised p-button-text p-button-help"  
                (onClick)="onSubmit()"></p-button>
                <p-button 
                label="Actualizar seleccionados" 
                icon="pi pi-cloud-upload" 
                styleClass="p-button-raised p-button-text p-button-secondary"  
                (onClick)="actualizar('bottom')"></p-button>
            </div>
            <div>
                <p-button 
                label="Ver cambios realizados" 
                icon="pi pi-replay" 
                styleClass="p-button-raised p-button-text p-button-success"
                (onClick)="irCambios()"></p-button>
            </div>
        </div>
        <p-confirmDialog 
        [style]="{ width: '50vw' }" 
        key="positionDialog" 
        [position]="position" 
        rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
        <ag-grid-angular
        class="ag-theme-alpine mt-3"
        id="myGrid"
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [domLayout]="domLayout"
        [gridOptions]="gridOptions"
        [pagination]=true
        [rowSelection]="'multiple'"
        [rowMultiSelectWithClick]="true"
        [paginationPageSize]="25"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    </div>
</div>